@font-face {
  font-family: "Source Sans 3";
  src: local("SourceSans3-VariableFont_wght"),
    url("./assets/fonts/SourceSans3-VariableFont_wght.ttf");
}

:root {
  font-family: "Source Sans 3", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --color-green: #15bb8c;
  --color-green-dark: #129e77;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.clarity--content-page {
  padding: 0 1rem 1rem 2rem;
  max-width: 65rem;
}

.animation-shake {
  animation: wiggle 150ms 4;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
